In [1]:
import pandas as pd

In [6]:
# define three dataFrame
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [3]:
print df1
print df2
print df3

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55
      HPI  Int_rate  US_GDP_Thousands
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55
      HPI  Int_rate  Low_tier_HPI
2001   80         2            50
2002   85         3            52
2003   88         2            50
2004   85         2            53

In [4]:
# Merge
merge = df1.merge(df2, on = 'HPI', how = 'inner')#outer, left, right
print merge

   HPI  Int_rate_x  US_GDP_Thousands_x  Int_rate_y  US_GDP_Thousands_y
0   80           2                  50           2                  50
1   85           3                  55           3                  55
2   85           3                  55           2                  55
3   85           2                  55           3                  55
4   85           2                  55           2                  55
5   88           2                  65           2                  65

In [7]:
# join: of we want to merge on the index we should use join
df1.set_index('HPI', inplace=True)
df3.set_index('HPI', inplace=True)

joined = df1.join(df3)
print(joined)

     Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
HPI
80          2                50            50             7
85          3                55            52             8
85          3                55            53             6
85          2                55            52             8
85          2                55            53             6
88          2                65            50             9

In [8]:
# concatenate dataFrames 
concat = pd.concat([df1, df2,df3])
print(concat)

      HPI  Int_rate  Low_tier_HPI  US_GDP_Thousands  Unemployment
HPI
80    NaN         2           NaN                50           NaN
85    NaN         3           NaN                55           NaN
88    NaN         2           NaN                65           NaN
85    NaN         2           NaN                55           NaN
2005   80         2           NaN                50           NaN
2006   85         3           NaN                55           NaN
2007   88         2           NaN                65           NaN
2008   85         2           NaN                55           NaN
80    NaN       NaN            50               NaN             7
85    NaN       NaN            52               NaN             8
88    NaN       NaN            50               NaN             9
85    NaN       NaN            53               NaN             6